img {
    max-width: 50%;
    max-height: 50%;
}

#heading1style{
    text-shadow: 4px 4px 4px rgb(154, 168, 154);
    font-size: 30px;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: center;
}
#heading2style{
        text-shadow: 4px 4px 4px rgb(154, 168, 154);
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;

}
#heading3style{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

}

#logintable{
border: none;
}


td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#td1{
    border:none;
    border-collapse: collapse;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}

li:before{
    content: "🦁";
}

#th1 {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    font-weight: Bold;
    width:50%;
    text-transform: capitalize;
    color:rgb(0, 0, 0) ;
    background-color: rgb(154, 168, 154);
    white-space: nowrap;
    
    
}
    
.footer {
    position: fixed;
    font-size: 10px;
    left: 0;
    height: 70 px;;
    bottom: 0;
    width: 100%;
    background-color:rgb(80, 94, 78);
    color: rgb(17, 17, 17);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
a{ /**/
    color: rgb(82, 185, 38);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: Bold;
}
a:active {
    background-color: yellow;
    /* color: rgb(13, 174, 112); */
}
a:visited{
    color:rgb(178, 15, 232);
}
.center{
    text-align: center;
    white-space: nowrap;
    padding-bottom: 10px;

}

.left{
    text-align: left;
    width: 60%;
    white-space: nowrap;
    padding-top: px;
}

input:focus {
    background-color: rgb(226, 226, 144);
}

li{
    list-style-type: none;
}

ul {
    content: "\231B";
    }

table tr td p:nth-child(n){
    background-color: rgb(243, 243, 198);

}
